.game_search_title {
  text-align: center;
  color: #007b7f;
  font-size: 48px;
  margin-top: 70px;
  font-family: 'Permanent Marker', cursive;
}

.game_search_main {
  width: 80%;
  border-top: 5px solid #007b7f;
  margin: auto;
  margin-top: 50px;
  padding: 50px;
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 80vh;
}

.game_search_individual_game_container {
  width: 30%;
  /*background-color: #007b7f;*/
  /*background-color: #000033;*/
  /*background-color: #F68E1F;*/
  border-radius: 5px;
  text-align: center;
  margin-bottom: 5%;
  color: #007b7f;
}

.game_search_individual_thumbnail {
  object-fit: cover;
  /*height: 300px;*/
  width: 60%;
}

.game_search_star_rating {
  font-size: 24px;
}

.game_search_game_price {
  font-size: 20px;
  color: #F68E1F;
}
