* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /*font-family: 'Permanent Marker', cursive;*/
  font-family: 'Exo 2', sans-serif;
}

a {
  text-decoration: none;
}

.header_container {
  box-shadow: 0px 2px 2px black;
  position: relative;
  z-index: 1;
}

.header_logo_section {
  height: 100px;
  background-color: #000033;
  display: flex;
  color: white;
}

.header_logo_text {
  font-size: 58px;
  font-family: 'Permanent Marker', cursive;
  line-height: 0;
  margin-left: 30px;
  margin-right: 10px;
}

.logoFlat {
  object-fit: contain;
  width: 125px;
}

.header_logo_section img {
  height: 100px;
}

.header_dropdwn_section {
  height: 50px;
  background-color: #007b7f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*width: 70%;*/
}

.icon_container {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  border: none;
  background: none;
  color: #000033;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 79px;
  left: -30px;
  background-color: #F68E1F;
  min-width: 160px;
  box-sizing: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.switch_dropdown {
  display: none;
  position: absolute;
  top: 64px;
  left: -30px;
  background-color: #F68E1F;
  min-width: 160px;
  box-sizing: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-align: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.xboxOneFlat {
  object-fit: contain;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.xbox360Flat {
  object-fit: contain;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}
.WiiUFlat {
  object-fit: contain;
  width: 70px;
  height: 100px;
  margin: 0;
  padding: 0;
}

.switchFlat {
  object-fit: contain;
  width: 70px;
  height: 70px;
  margin: 0;
  padding: 0;
}

.footer_link_box {
  height: 200px;
  background-color: #007b7f;
}

.footer_bottom_box {
  height: 50px;
  background-color: #000033;
}
