.main_individual_item {
  width: 80%;
  margin: auto;
  padding: 50px;
  margin-top: 150px;
  min-height: 80vh;
}

.individual_item_container {
  display: flex;
}

.individual_item_box {
  display: flex;
  width: 75%;
  /*border: 2px solid red;*/
}

.item_box_image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
}

.item_box_image img {
  object-fit: contain;
  width: 100%;
  max-width: 400px;
  /*height: 100%;*/
}

.item_box_description {
  width: 50%;
  padding: 40px;
}

.item_name {
  font-size: 26px;
}

.check_out_individual_item_box {
  width: 25%;
  border: 3px solid #007b7f;
  border-radius: 5px;
  text-align: center;
  padding: 25px;
}

.individualItem_price {
  font-size: 22px;
}

.individualItem_instock {
  font-size: 18px;
  font-weight: bold;
}

.add_cart {
  /*min-width: 50px;*/
  max-width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #F68E1F;
  color: white;
  text-align: center;
  padding-top: 13px;
  vertical-align: top;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.add_cart:active {
  background-color: #007b7f;
}

.stars {
  margin: 0px 2px;
  /*color: white;*/
  /*border: 2px solid #007b7f;*/
}

.stars:hover {
  color: #F68E1F;
}

.bold {
  font-weight: 900;
}

.accept_cart_container {
  position: absolute;
  /*top: 150px;*/
  top: 50%;
  transform: translateY(-50%);
  left: 0px;
  margin: 0px;
  width: 101%;
  /*height: 60vh;*/
  background-color: rgba(	105,	105,	105, .5)
}

.cart_confirm {
  position: absolute;
  background-color: #F68E1F;
  border-radius: 5px;
  text-align: center;
  padding: 50px;
  color: white;
  width: 400px;
  height: 300px;
  /*top: 250px;*/
  top: 50%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  margin: auto;
  z-index: 9;
}

.cart_confirm > p {
  font-size: 24px;
}

.accept_cart_add {
  width: 150px;
  height: 40px;
  background-color: white;
  color: #007b7f;
  /*background-color: #007b7f;*/
  margin: auto;
  margin-top: 40px;
  border-radius: 5px;
}

.accept_cart_add:active {
  background-color: #007b7f;
  color: white;
}

.accept_cart_add p {
  padding-top: 10px;
}
