<!-- games -->
<main class="main_individual_item" ng-show="individualItem.player">
  <section class="individual_item_container">
    <section class="individual_item_box">
      <section class="item_box_image">
        <img ng-src="{{individualItem.thumbnail}}">
      </section>
      <section class="item_box_description">
        <h1 class="item_name">{{individualItem.name}}</h1>
        <h4><span class="bold">SKU:</span> {{individualItem.id}} </h4>
        <!-- <p>{{individualItem.instock === true ? 'In stock' : 'Out of Stock'}}</p> -->
        <p><span class="bold">Description:</span> {{individualItem.description | limitTo: 200}}{{individualItem.description.length > 100 ? '...' : ''}}</p>
        <p><span class="bold">Players:</span> {{individualItem.player}}</p>
        <p><span class="bold">Rating:</span> {{individualItem.genre}}</p>
        <p><span class="bold">Rating:</span> {{individualItem.rating}}</p>
        <p><span class="bold">Release Date:</span> {{individualItem.releasedate}}</p>
        <div class="game_search_star_rating"><span class="1_star stars">&starf;</span><span class="2_star stars">&starf;</span><span class="3_star stars">&starf;</span><span class="4_star stars">&starf;</span><span class="5_star stars">&starf;</span></div>
      </section>
    </section>
    <section class="check_out_individual_item_box">
      <p class="individualItem_price"><span class="bold">Price:</span> {{individualItem.price | currency}}</p>
      <p class="individualItem_instock">{{individualItem.instock === true ? 'In stock' : 'Out of Stock'}}</p>
      <!-- <div class="add_cart" ng-click="addToCart(individualItem.id, individualItem.platformid, 'games'); alertCartAdd(individualItem.name)"> -->
      <div class="add_cart" ng-click="addToCart(null, individualItem.id, individualItem.platformid); showCartAdd=true;">
        <span>Add To Cart</span>
        <!-- <span>Add To Cart</span> -->
      </div>
      <p>Ships from and sold by Swivel.com</p>
      <p><span class="bold">Shipping to:</span> {{'' === true ? 'Zip Code' : 'Sign in to have item shipped.'}}
    </section>
  </section>
  <section class="accept_cart_container" ng-show="showCartAdd">
    <section class="cart_confirm">
      <p>You've added {{individualItem.name}} to your cart!</p>
      <div class="accept_cart_add" ng-click="showCartAdd=false">
        <p>OK</p>
      </div>
    </section>
  </section>
</main>

<!-- accessories -->
<main class="main_individual_item" ng-show="!individualItem.player && !individualItem.platform">
  <section class="individual_item_container">
    <section class="individual_item_box">
      <section class="item_box_image">
        <img ng-src="{{individualItem.thumbnail}}">
      </section>
      <section class="item_box_description">
        <h1 class="item_name">{{individualItem.name}}</h1>
        <h4><span class="bold">SKU:</span> {{individualItem.id}} </h4>
        <!-- <p>{{individualItem.instock === true ? 'In stock' : 'Out of Stock'}}</p> -->
        <p><span class="bold">Description:</span> {{individualItem.name | limitTo: 200}}{{individualItem.name.length > 100 ? '...' : ''}}</p>
        <div class="game_search_star_rating"><span class="1_star stars">&starf;</span><span class="2_star stars">&starf;</span><span class="3_star stars">&starf;</span><span class="4_star stars">&starf;</span><span class="5_star stars">&starf;</span></div>
      </section>
    </section>
    <section class="check_out_individual_item_box">
      <p class="individualItem_price">Price: {{individualItem.price | currency}}</p>
      <p class="individualItem_instock">{{individualItem.instock === true ? 'In stock' : 'Out of Stock'}}</p>
      <!-- <div class="add_cart" ng-click="addToCart(individualItem.id, individualItem.platformid, 'accessories')"> -->
      <div class="add_cart" ng-click="addToCart(individualItem.id, null, individualItem.platformid); alertCartAdd(individualItem.name)">
        <span>Add To Cart</span>
        <!-- <span>Add To Cart</span> -->
      </div>
      <p>Ships from and sold by Swivel.com</p>
      <p><span class="bold">Shipping to:</span> {{'' === true ? 'Zip Code' : 'Sign in to have item shipped.'}}
    </section>
  </section>
</main>

<!-- consoles -->
<main class="main_individual_item" ng-show="individualItem.platform">
  <section class="individual_item_container">
    <section class="individual_item_box">
      <section class="item_box_image">
        <img ng-src="{{individualItem.thumbnail}}">
      </section>
      <section class="item_box_description">
        <h1 class="item_name">{{individualItem.platform}}</h1>
        <h4><span class="bold">SKU:</span> {{individualItem.id}} </h4>
        <!-- <p>{{individualItem.instock === true ? 'In stock' : 'Out of Stock'}}</p> -->
        <p><span class="bold">Description:</span> {{individualItem.platform | limitTo: 200}}{{individualItem.name.platform > 100 ? '...' : ''}}</p>
        <p><span class="bold">Release Date:</span> {{individualItem.releasedate}}</p>
        <div class="game_search_star_rating"><span class="1_star stars">&starf;</span><span class="2_star stars">&starf;</span><span class="3_star stars">&starf;</span><span class="4_star stars">&starf;</span><span class="5_star stars">&starf;</span></div>
      </section>
    </section>
    <section class="check_out_individual_item_box">
      <p class="individualItem_price">Price: {{individualItem.price | currency}}</p>
      <p class="individualItem_instock">{{individualItem.instock === true ? 'In stock' : 'Out of Stock'}}</p>
      <!-- <div class="add_cart" ng-click="addToCart(individualItem.id, individualItem.platformid, 'consoles')"> -->
      <div class="add_cart" ng-click="addToCart(null, null, individualItem.platformid); alertCartAdd(individualItem.name)">
        <span>Add To Cart</span>
        <!-- <span>Add To Cart</span> -->
      </div>
      <p>Ships from and sold by Swivel.com</p>
      <p><span class="bold">Shipping to:</span> {{'' === true ? 'Zip Code' : 'Sign in to have item shipped.'}}
    </section>
  </section>


</main>
