<main class="signup_main">
  <section class="signup_container">
    <h1>Sign Up</h1>
    <input type="text" placeholder="First Name..." ng-model="firstName">
    <input type="text" placeholder="Last Name..." ng-model="lastName">
    <input type="text" placeholder="Address..." ng-model="address">
    <input type="text" placeholder="City..." ng-model="city">
    <input type="text" placeholder="State..." ng-model="state">
    <input type="text" placeholder="Zip Code..." ng-model="zipCode">
    <input type="text" placeholder="Phone Number..." ng-model="phoneNumber">
    <input type="text" placeholder="Email Address..." ng-model="emailAddress">
    <input type="text" placeholder="Age..." ng-model="age">
    <input type="text" placeholder="Password..." ng-model="password">
    <p>Already have an account?</br> <a ui-sref="login">Sign in</a> now.</p>
  </section>
</main>
